@font-face {
    font-family: LoveleyCouple;
    src: url(../fuentes/lovely_couple/LovelyCouple.ttf);
}
@font-face {
    font-family: dancing;
    src: url(../fuentes/Dancing_Script/DancingScript-VariableFont_wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)!important;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
body{
    width: 100%;
    height: 200vh;
    overflow-y: scroll;
    overflow-x: hidden;

    background: url(../img/balloons-1046658_1920.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* >>>>> -->>>>> ----- boton ----- <<<<<-- <<<<< */
.cont__btn{
    width: 100%;
    height: 50px;
}
.btn{
    width: 250px;
    height: 50px;
    background: rgb(255, 0, 242);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.cont__play{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    background: rgba(0, 0, 0, 0.99);
    transition: all 0.5s linear;
}
.texto__play{
    width: 100%;
    font-size: 4rem;
    font-family: LoveleyCouple;
    text-align: center;
    color: white;
}
.texto__play span{
    font-family: cursive;
    font-style: italic;
}
.bajar{
    flex-wrap: wrap;
    position: fixed;
    z-index: 10;
    top: 25vh;
    left: 0;
    width: 100%;
    height: 50vh;
    border-radius: 50%;
    font-size: 15vh;
    color: blue;
    animation: bajar 1s infinite ease-out;
}
.bajar p{
    width: 100%;
    text-align: center;
    font-family: LoveleyCouple;
}
@keyframes bajar{
    0%{
        transform: translateY(-50%) scale(0.8);
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }
    100%{
        transform: translateY(25%) scale(1.2);
        filter: hue-rotate(0deg);
    }
}
.tarjeta{
    position: fixed;
    top: 0;
    left: 0;
    align-self: flex-start;
    width: 100%;
    height: 100vh;
    
}
.contenedor__ppl{
    align-self: flex-end;
    position: relative;
    width: 90%;
    height: 80vh;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    border: solid 2px white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
    overflow: hidden;
}
.para{
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    color: White;
    font-size: 5vw;
    font-family: LoveleyCouple;
}
.para .fecha{
    font-size: 2vw;
    font-family: cursive;
    font-style: italic;
}
.cont__texto{
    height: 80%;
    overflow: hidden;
    font-family: dancing;
}
.texto{
    width: 100%;
    text-align: center;
    color: white;
    opacity: 0;
    font-size: 9vw;
    backdrop-filter: blur(5px);
    transition: all 0.3s linear;
}
.emoji{
    width: 100%;
    max-width: 400px;
    transition: all 1s linear;
}
.texto.visible{
    opacity: 1;
    border: solid;
}
.texto .espera{
    display: inline-block;
}
.newTexto{
    width: 100%;
    font-size: 4vw;
}
@keyframes espera {
    0%, 40%, 100% {
        transform: translateY(0);
    }
    20%{
        transform: translateY(-50px);
    }
}
.corazon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    transition: all 1s linear;
}
.imgCorazon{
    width: 0px;
    max-width: 100%;
    object-fit: contain;
    animation: latidos 1s linear infinite;
}
.de{
    align-self: flex-end;
    width: 100%;
    text-align: right;
    color: white;
    font-size: 4vw;
    font-family: LoveleyCouple;
}
/* >>>>> -->>>>> ----- video ----- <<<<<-- <<<<< */
.video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0%;
    height: 0px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}
.video.play{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
    z-index: -1;
}
/* >>>>> -->>>>> ----- footer ----- <<<<<-- <<<<< */

.footer{
    align-self: flex-end;
    width: 100%;
    height: 50px;
    background: rgba(128, 128, 128, 0.13);
    backdrop-filter: blur(5px);
}
.footer .parrafo__footer{
    white-space:nowrap;
    animation: mov 60s linear infinite;
    transform: translatex(100%);
}
.footer .autor,
.footer .dest{
    font-size: 20px;
    font-weight: 500;
    color: white;
}
.footer i{
    color: red;
}
@keyframes mov{
    0%{
        transform: translatex(100%);
    }
    100%{
        transform: translatex(-100%);
    }
}
@keyframes latidos{
    10%{
        transform: scale(1.2);
    }
    15%{
        transform: scale(1);
    }
    25%{
        transform: scale(1.2);
    }
    30%{
        transform: scale(1);
    }
    100%{
        transform: scale(1);
    }
}
/* >>>>> -->>>>> ----- media ----- <<<<<-- <<<<< */
@media (orientation:landscape){
    .imgCorazon{
        width: auto;
        height: 0px;
        max-height: 780px;
    }
}
@media (min-width:637px){
    .newTexto{
        font-size: 3vw;
    }
    
}

@media(min-width:805px){
    .texto{
        font-size: 7vw;
    }
    .newTexto{
        font-size: 2vw;
    }
    
}
@media(min-width:1200px){
    .de,
    .para{
        font-size: 3vw;
    }
    .texto{
        font-size: 6vw;
    }
    .newTexto{
        font-size: 1.5vw;
    }
    
}
@media(min-width:1500px){
    .texto{
        font-size: 4vw;
    }
}
@media(min-width:1920px){
    .texto{
        font-size: 3vw;
    }
    .newTexto{
        font-size: 1.2vw;
    }
}
/* >>>>> -->>>>> ----- loader ----- <<<<<-- <<<<< */
:root{
    --size: 12.5em;
    --logoPorciento:7%;
    --loaderPorciento:10%;
}

@keyframes fondo-logo{
    50%{
        transform: translateX(-50%) translateY(-50%);
    }
}
.jizra__logo::after{
    background:rgba(255, 255, 255, .0);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

@keyframes jizra{
    0%,100%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }
}
.loader::before{
    content: "";
    position: absolute;
    left: var(--loaderPorciento);
    top: var(--loaderPorciento);
    right: var(--loaderPorciento);
    bottom: var(--loaderPorciento);
    z-index: 10;
    background: #000;
    border-radius: 50%;
    border: 2px solid #000;
    box-shadow: -0.125px -0.125px 0.3125em rgba(255, 255, 255, 0.2),
                0.1875em 0.1875em 0.3125em rgba(0, 0, 0, 0.5);
}
.loader::after{
    content: "";
    position: absolute;
    left: var(--loaderPorciento);
    top: var(--loaderPorciento);
    right: var(--loaderPorciento);
    bottom: var(--loaderPorciento);
    z-index: 10;
    background: linear-gradient(135deg, rgba(231,10,231,.7) 0%, rgba(51,232,23,.6) 100%);
    /* background: linear-gradient(135deg, #14ffe9 0%, #ffeb3b 50%, #ff00e0 100%); */
    border-radius: 50%;
    border: 2px solid #000;
    animation: jizra 1s linear infinite;
    box-shadow: -0.125px -0.125px 0.3125em rgba(255, 255, 255, 0.2),
                0.1875em 0.1875em 0.3125em rgba(0, 0, 0, 0.5);
}

@keyframes loader{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


@keyframes texto {
    0%, 40%, 100% {
        transform: translateY(0);
    }
    20%{
        transform: translateY(-50px);
    }
}
@media screen and (min-width: 600px){
    .background__jd{
        font-size: 32px;
    }
}
@media screen and (min-width: 720px){
    .background__jd{
        flex-wrap: nowrap;
    }
    .loader__texto{
        width: auto;
        margin-left: 50px;
    }
}
